* {
    
      /* border: 0.5pt dotted black; */
    
    
}

body {
    
  
    
    
}


table, th, tr, td {
    
    
    border: 0.5pt solid black;
    
    
}

h2 {
    
    text-align: center;
    
}


#ticket-display {
    
    display: flex;
    justify-content: center;
   /* align-items: center; 
    width: 50%;*/
    flex-direction: column;
    margin: auto;
    
    
}

#editTicketForm {
    
    
    width: 100%; 
    display: block;
}

#editTicketForm input{
    
    display: block;
    width: 98%;
    margin: auto;
}

#editTicketForm div{
    
    display: block;
    width: 98%;
    margin: auto;
}


#editTicketForm textarea{
    
    display: block;
    width: 98%;
    margin: auto;
    
}

#editTicket {
    
    border: 1pt solid black;
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    /*margin-top: 50px;  Location of the box */
    left: 25%;
    top: 0;
    width: 50%;
    background-color: #ebf8fa ; 
    margin: auto;
 
}


#closeEditTicket {
    
    background-color:white;
    
    
    
}

#closeEditTicket {
    
    float: right;
    
}





#new-disposition-container {
    
    border: 1pt solid black;
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    /*margin-top: 50px;  Location of the box */
    left: 25%;
    top: 0;
    width: 50%;
    background-color: #ebf8fa ; 
    margin: auto;
    
    
}

#new-disposition {
    
    
    
    
    
}